* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    background: linear-gradient(180deg, #358675 0, #358675 148px, #d2d4c9 148px, #d2d4c9 100vh);
    display: flex;
    height: 100vh;
}

.container {
    width: 1500px;
    margin: 27px auto;
}

.box-wrapper {
    width: 100%;
    display: flex;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .6);

}

.chat-aside {
    width: 35%;
    border-right: 1px solid rgba(0, 0, 0, .15);
    position: relative;
}

#menu-aside,
#menu-chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #eaeaea;
    color: #919191;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

#user {
    cursor: pointer;
}

#avatar-user {
    height: 48px;
    vertical-align: middle;
}

.menu-icons i {
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.pop-up {
    background: #8edafc;
    padding: 10px;
    display: none;
}

.pop-up.show {
    display: block;
}

.bell-wrapper {
    width: 48px;
    height: 48px;
    background: #f1fcfe;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
    float: left;
}

.fa-bell-slash {
    color: #8edafc;
    font-size: 20px;
}

.popup-textarea {
    float: left;
    padding-left: 10px;
    line-height: 22px;
}

.popup-textarea p {
    font-size: 15px;
    font-weight: bold;
}

#notice {
    font-size: 12px;
    color: #919191;
}

.searchbox-wrapper {
    background: #fafafa;
    padding: 10px;
}

.search-btn,
.cancelsearch-btn {
    padding: 8px 29.5px;
    background: #fff;
    border-right: 2px solid #fafafa;
    float: left;
    color: #919191;
    cursor: pointer;
    display: none;
}

.search-btn.show,
.cancelsearch-btn.show {
    display: inline-block;
}

#searchbar {
    outline: none;
    border: 0;
    width: 427px;
    height: 32px;
    font-size: 14px;
    padding: 10px;
    color: #919191;
}

.contacts {
    overflow-y: scroll;
    height: calc(100% - 69px - 68px - 52px);
}

.contacts.longer {
    height: calc(100% - 69px - 52px);
}

.contact-highlight {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    cursor: pointer;
    display: none;
}

.contact-highlight.show {
    display: block;
}

.contact-highlight .fa-user-circle {
    float: left;
    color: #919191;
}

.contact-highlight.selected {
    background: #d9dbda;
}

.contact-highlight:hover {
    background: #e9ebea;
}

#avatar-andrea,
#avatar-beatrice,
#avatar-carlo,
#avatar-daniele {
    height: 64px;
    float: left;
}

.contact-textarea {
    float: left;
    padding: 10px;
    line-height: 22px;
}

.name {
    font-size: 18px;
    color: #000;
}

.last-message {
    font-size: 13px;
}

.chat-wrapper {
    width: 975px;
}

#receiver {
    cursor: pointer;
    display: flex;
    align-items: center;
}

#current-avatar {
    height: 48px;
}

#receiver-info {
    display: inline-block;
    margin-left: 10px;
}

#receiver-name {
    font-size: 18px;
    color: #000;
}

#receiver-timestamp {
    font-size: 13px;
}

.chat-display {
    overflow-y: scroll;
    height: 778px;
    background-image: url('img/wallpaper.jpg');
    background-color: rgba(231, 221, 211, .7);
    background-size: 50%;
    display: none;
}

.chat-display.active {
    display: block;
}

.chat-container {
    width: calc(100% - 200px);
    margin: 0 auto;
}

.date-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.date {
    padding: 15px;
    background-color: #e1f3fb;
    color: rgba(0, 0, 0, .4);
}

.date,
.message-wrapper,
.answer-wrapper {
    margin-top: 10px;
    font-size: 14px;
}

.message-wrapper,
.answer-wrapper {
    color: rgba(0, 0, 0, .6);
    display: flex;
    flex-flow: column nowrap;
}

.message-wrapper {
    align-items: flex-start;
}

.answer-wrapper {
    align-items: flex-end;
}

.date,
.message,
.answer {
    border-radius: 8px;
    padding: 15px;
}

.message,
.answer {
    position: relative;
    margin-top: 4px;
    min-width: 165px;
    min-height: 52px;
}

.message {
    background-color: #fff;
    border-top-left-radius: 0;
    align-items: flex-start;
}

.answer {
    background-color: #d5f9bb;
    border-top-right-radius: 0;
}


.timestamp {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 11px;
    opacity: .4;
}

.tail-left {
    position: absolute;
    top: 0;
    left: -8px;
    width: 8px; 
    height: 13px;
    background: linear-gradient(235deg, #fff 50%, transparent 50%);
}

.tail-right {
    position: absolute;
    top: 0;
    right: -8px;
    width: 8px; 
    height: 13px;
    background: linear-gradient(125deg, #d5f9bb 50%, transparent 50%);
}

.fas.fa-chevron-down {
    color: #919191;
    position: absolute;
    right: 0px;
    font-size: 20px;
    padding: 10px;
    top: 5px;
    cursor: pointer;
    display: none;
}

.info-menu {
    position: absolute;
    width: 150px;
    background: #fff;
    border-radius: 4px;
    top: 35px;
    right: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .6);
    display: none;
    z-index: 10;
}

.info-menu.show {
    display: block;
}

.info-menu p {
    cursor: pointer;
    padding: 10px;
}

.info-menu p:hover {
    display: block;
    background: rgba(73, 73, 73, .1);
}

.message:hover .fas.fa-chevron-down,
.answer:hover .fas.fa-chevron-down {
    display: inline-block;
}

.send-box {
    background: #f3eeea;
    padding: 10px;
}

.emotes,
.send-bar,
.voice-btn,
.send-btn {
    float: left;
}

.emotes,
.voice-btn,
.send-btn {
    padding: 10px;
    color: #919191;
    font-size: 22px;
    cursor: pointer;
    width: 81px;
    text-align: center;
}

.voice-btn,
.send-btn {
    display: none;
}

.voice-btn.show,
.send-btn.show {
    display: inline-block;
}

.send-bar {
    margin: 0 10px;
}

.send-bar input {
    outline: none;
    border: 0;
    border-radius: 5px;
    height: 46px;
    width: 773px;
    font-size: 14px;
    padding: 10px;
    color: #919191;
}

#template {
    display: none;
}