* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    background: linear-gradient(180deg, #358675 15.3%, #d2d4c9 15.3%);
    height: 940px;
}

.container {
    width: 1500px;
    height: inherit;
    margin: 0 auto;
}

.box-wrapper {
    margin: 25px 0;
    height: calc(100% - 25px);
    background: lightgrey;

}

.chat-aside {
    float: left;
    width: 35%;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, .1);
    position: relative;
}

#menu-aside,
#menu-chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #eaeaea;
    color: #919191;
}

.menu-icons i {
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.pop-up {
    background: #8edafc;
    padding: 10px;
}

.bell-wrapper {
    width: 48px;
    height: 48px;
    background: #f1fcfe;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
    float: left;
}

.fa-bell-slash {
    color: #8edafc;
    font-size: 20px;
}

.popup-textarea {
    float: left;
    padding-left: 10px;
    line-height: 22px;
}

.popup-textarea p {
    font-size: 14px;
    font-weight: bold;
}

.popup-textarea a {
    font-size: 12px;
    color: #919191;
}

.searchbar-wrapper {
    background: #fafafa;
    padding: 10px;
}

.searchbar .fa-search {
    padding: 9.5px 29.5px;
    background: #fff;
    border-right: 1px solid #fafafa;
    float: left;
    color: #919191;
}

.searchbar input {
    outline: none;
    border: 0;
    width: 428px;
    height: 35px;
    font-size: 14px;
    color: #919191;
}

.chat-box {
    float: left;
    width: 65%;
    height: 100%;
}